<nav class="navbar navbar-expand-lg navbar-light ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="container-fluid">
        <h3 class="navbar-brand"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/67/Collaboration_logo_V2.svg/1280px-Collaboration_logo_V2.svg.png" width="50" height="50">
            You-We Collab<br/><sub>~Your Event Is Our Event</sub></h3>
            &nbsp;&nbsp;<img src="https://www.logodesign.net/logo/beautiful-rose-with-leaves-5950ld.png?size=2&industry=event-planner" width="150" height="100"/>

        <div class="d-flex flex-row justify-content-end ">
            <div class="p-2 navbar-brand ">
                <a class="cust show"> {{firstName}} </a>
                <a class="cust show"> {{role}} </a>
                <a class="cust but" (click)="logout()">Logout</a>
            </div>
        </div>
    </div>
</nav>