<div class="container">
    <h3 class="text-center">Profile</h3>

<!-- Circular Head -->
<div class="head">
    <div class="headY">
        <div class="headB"></div>
    </div>
</div>


   <div class="violet body mb-2">
        <div class="yellow body">
            
            <div class="row blue column">
                <div class="col-4">ID</div>
                <div class="col-8">{{member.memberId}}</div>
            </div>
            <div class="line"></div>

            <div class="row blue column">
                <div class="col-4">Role</div>
                <div class="col-8">{{member.role}}</div>
            </div>
            <div class="line"></div>
       

        
            <div class="row blue column">
                <div class="col-4">Name</div>
                <div class="col-8">{{member.firstName}} {{member.lastName}}</div>
            </div>
            <div class="line"></div>
        

        
            <div class="row blue column">
                <div class="col-4">Phone Number</div>
                <div class="col-8">{{member.phoneNumber}}</div>
            </div>
            <div class="line"></div>
        

       
            <div class="row blue column">
                <div class="col-4">Email</div>
                <div class="col-8">{{member.email}}</div>
            </div>
            
        </div>
    </div>
</div>
