<div class="bread">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">Home</li>
        </ol>
      </nav>
</div>
<div class="container">
    <div class="row row1">
        <div class="col card1 obj"> 
                <h3>VENUES</h3>
                <h1>{{numVenue}}</h1>
    </div>

        <div class="col card3 obj"> 
            <div class="info">
                <h3>UPCOMING BOOKINGS</h3>
                <h1>{{numUpBookings}}</h1>
           </div>
       </div>
   </div>

   <div class="row row2">
    <div class="col card4 obj"> 
            <h3>NOTIFICATIONS</h3>
            <h1>{{numNoti}}</h1>
</div>

    <div class="col card2 obj"> 
        <div class="info">
            <h3>PAST BOOKINGS</h3>
            <h1>{{numPast}}</h1>
       </div>
   </div>
</div>


</div>