<div class="bread">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">Home</li>
        </ol>
      </nav>
</div>

<div class="container">
    <div class="row row1">
        <div class="col card1 obj"> 
                <h3>AVAILABLE VENUES</h3>
                <h1>{{numVenue}}</h1>
    </div>

        <div class="col card3 obj"> 
            <div class="info">
                <h3>TOTAL BOOKINGS</h3>
                <h1>{{numBookings}}</h1>
           </div>
       </div>
   </div>

   <div class="row row2">
    <div class="col card4 obj"> 
            <h3>NOTIFICATIONS</h3>
            <h1>{{numNoti}}</h1>
</div>

</div>


</div>