<div class="container pd-5">
    <div>
        <div class="center"><h3 class="text-center">Your Booking is Successful</h3><br>
            <h6 class="text-center" >Note that, Booking will not be visible to Organizer till payment is Done.</h6>
    <h5 class="text-center">Proceed For the Payment</h5><br>
    <div class="text-center"><button routerLink="/user/bookingHistory"  class="btn me-5">OK</button>
        <button routerLink="/user" class=" btn btn2">HOME</button></div>

</div>
</div>
</div>
