.bread{
    margin-top: 75px;
}
.container{
    background-color: rgb(104, 9, 56);
    max-width: 80%;
    border-radius: 5%;
    color: rgb(238, 223, 11);
    padding: 5 5 5 5px;
}
.btn{
    background-color: chartreuse;
}
.container:hover{
    background-color: rgb(149, 32, 165);
}
.del{
    background-color: crimson;
    color: white;
}
.can{
    background-color: rgb(18, 10, 136);
    color: rgb(245, 245, 243);
}