<app-navbar></app-navbar>
<marquee ><b>“What you need, is an Event, to remember for a lifetime.” We Serve our best!! LOGIN FOR DETAILS<a href="/login"> LoginHere </a></b> </marquee>

<section
		class="banner d-flex justify-content-center align-items-center ">\
		<div class="welcome container text-center" >
			<h2>FIND YOUR SPACE</h2>
			<h3>Discover and Book Unique Spaces For Your Upcoming Activity</h3>
            <br/><br/>
			<a routerLink="/login" class="btn btn-round-grad">Explore More</a>
		</div>
</section>

